---
---

@import "{{ site.theme }}";

/* Add proper margins and spacing */
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 60px;
}

body {
  padding: 20px;
}

/* Your custom styles */
header {
  background: rgb(248,248,255);
}

p {
  color: rgb(0, 0, 0);
}

header a.button {
  background: rgb(122, 6, 97);
}

aside a.button {
  background: rgb(122, 6, 97);
}

#main-content h1 {
  color: rgb(122, 6, 97);
}

#main-content h2 {
  color: rgb(122, 6, 97);
}

#main-content h3 {
  color: rgb(122, 6, 97);
}

#main-content h4 {
  color: rgb(122, 6, 97);
}

#main-content h6 {
  color: rgb(122, 6, 97);
}